<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fern</title>
</head>
<body>
 <form mame="assignment5" method="post" action="#">
     REGISTER <br/>
                NAME :
                 <input type="text" name="txt_fname" ><br/>

                LASTNAME :
                <input type="text" name="txt_lname" ><br/>

                E-MAIL :
                <input type="text" name="txt_email" size="30"><br/>

                USERNAME :
                <input type="text" name="txt_user" ><br/>

                PASSWORD :
                 <input type="password" name="txt_pwd" ><br/>

                <input type="button" name="btn_SignUp" value="Sign Up">


    </form>
</body>
</html>


